body{
    padding: 0;
    margin: 0;
}
.MainHeader{
    font-size: 16px;
    position: relative;
    max-width: 100%;
    background: rgba(0, 0, 0, 0); /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    /* Standard syntax */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
}
.MainHeaderLogo{
    position: relative;
    max-height: 10rem;
    padding-right: 1rem;
}
.MainHeaderNav{
    padding: 5px;
    position: relative;
    max-width: 100%;
}
.MainHeaderNavButton{
    position: relative;
}
.MainHeaderNavButton li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(50, 110, 225, 0.75);
}
.MainHeaderNavButton li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    
}
.MainContent{
    position: relative;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*Why u no work*/
    background-image: url(images\Logo_RicoICT_v1.jpg)
}
.Content1{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.75);
}
.MainFooter{
    position: relative;
    text-align: center;
    font-size: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    background: rgba(0, 0, 0, 0); /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,rgba(0, 0, 0, 0), rgba(50,100, 225, 0.75));
    /* Standard syntax */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 100, 225, 0.75));
    
}